PORT=4000
ENV=development
FE_URL=https://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=kawan_nusa
DB_SYNC=true

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

FEEDBACK_URL=