PORT=4000
ENV=development
APP_URL=https://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=kawan_nusa
DB_SYNC=true

NIS_DB_HOST=localhost
NIS_DB_PORT=3306
NIS_DB_USER=root
NIS_DB_PASS=root
NIS_DB_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

FEEDBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=