PORT=4000
ENV=development
APP_URL=https://localhost:3000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=root
DB_NAME=kawan_nusa
DB_SYNC=true

NIS_DB_HOST=localhost
NIS_DB_PORT=3306
NIS_DB_USER=root
NIS_DB_PASS=root
NIS_DB_NAME=

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

NUSAWORK_API_URL=
NUSAWORK_CLIENT_ID=
NUSAWORK_CLIENT_SECRET=

NUSACONTACT_API_URL=
NUSACONTACT_API_KEY=
NUSACONTACT_PHONE_ID=

JWT_SECRET=supersecretkey
JWT_REFRESH_SECRET=superrefreshsecretkey

FEEDBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# Google Sheets
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID=

